@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

html,body,.app{

  height: 100%;
  width: 100%;
  font-family: 'Castoro Titling', cursive;

}



label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}